<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="h-dvh w-screen bg-zinc-900 p-10 text-white">
        <h2 class="mb-5 text-2xl">Create Account</h2>
        <form action="/register" method="post">
        <input class="px-3 py-2 outline-none mr-4 rounded-md bg-zinc-700" type="text" placeholder="name" name="name">
        <input class="px-3 py-2 outline-none mr-4 rounded-md bg-zinc-700"type="text" placeholder="username" name="username">
        <input class="px-3 py-2 outline-none mr-4 rounded-md bg-zinc-700"type="email" placeholder="email" name="email">
        <input class="px-3 py-2 outline-none mr-4 rounded-md bg-zinc-700"type="password" placeholder="password" name="password">
        <input class="px-3 py-2 outline-none mr-4 rounded-md bg-zinc-700"type="number" placeholder="age" name="age">
        <input class="bg-blue-700 p-2 rounded-md" type="submit" value="Create Account">
    </form>
    </div>
</body>
</html>