<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/images/iconimages/edit_4.png">
</head>
<body class="bg-zinc-900 text-white">
    <header>
        <nav class="flex justify-between mx-5 my-5">
            <div class="flex justify-between">
                <img src="/images/iconimages/edit_4.png" width="25" height="21" alt="icon">
                <a class="mx-2" href="/">SayMyName</a></div>
            <div class="flex justify-between gap-2">
            <div class="hover:bg-white hover:text-zinc-900 rounded-md p-1 text-sm"><a href="/forgetpassword">Forget password</a></div>
            <div class="hover:bg-white hover:text-zinc-900 rounded-md p-1 text-sm"><a href="/support">Need Support?</a></div>
        </div>
        </nav>    
    </header>
    <main class="flex justify-center gap-40 bg-zinc-700 h-144 p-10">
        <div id="login-form">
            <p class="text-xl">Login</p>
            <form class="flex flex-col mt-3" action="/login" method="post">
                <input class="rounded-md mb-2 px-2 p-1 outline-none border border-2 border-zinc-500" type="text" name="usernameoremail" id="usernameoremail" placeholder="email or username" required>
                <input class="rounded-md mb-2 px-2 py-1 outline-none border border-2 border-zinc-500" type="password" name="password" id="password" placeholder="password" required>
                <% if(login_error_msg && login_error_msg.length > 0)  { %>
                    <% login_error_msg.forEach((error) => { %>
                       <p class="text-xs rounded-md text-zinc-900 bg-red-300 mb-2 p-1"> <%= error %> </p> 
                       <%  }); %>
                    <% } %>  
                <button class="rounded-md mb-2 px-2 py-1 outline-none bg-zinc-900 w-1/2 hover:bg-white hover:text-zinc-900" type="submit">Login</button>
            </form>
        </div>
        <div class = "border-r-2 border-zinc-400"></div>
        <div class="flex flex-col gap-1" id="registration-form">
           <div> <p class="text-xl" >Sign Up</p>
            <form class="mt-3 flex flex-col mt-1" action="/register" method="post">
                <input class="rounded-md mb-2 px-2 py-1 outline-none border border-2 border-zinc-500" type="text" name="email" id="email" placeholder="email" required>
                <input class="rounded-md mb-2 px-2 py-1 outline-none border border-2 border-zinc-500" type="text" name="name" id="name" placeholder="name" required>
                <input class="rounded-md mb-2 px-2 py-1 outline-none border border-2 border-zinc-500" type="text" name="username" id="username" placeholder="username" required>
                <input class="rounded-md mb-2 px-2 py-1 outline-none border border-2 border-zinc-500" type="password" name="password" id="password" placeholder="password" required>
                <input class="rounded-md mb-2 px-2 py-1 outline-none border border-2 border-zinc-500" type="text" name="verificationcode" id="verificationcode" placeholder="verification code" required>
                <% if(registration_error_msg && registration_error_msg.length > 0)  { %>
                    <% registration_error_msg.forEach((error) => { %>
                       <p class="text-xs rounded-md text-zinc-900 bg-red-300 mb-2 p-1"> <%= error %> </p> 
                       <%  }); %>
                    <% } %>    
                <button class="rounded-md mb-2 px-2 py-1 outline-none bg-zinc-900 w-1/3 hover:bg-white hover:text-zinc-900" type="submit">Register</button>
            </form>
        </div>
            <div class = "mt-4 border-1 border-zinc-400"></div>

            <div>
            <p class="text-lg mt-4" >Email Verification</p>
            <form action="/getotp" method="post">
                <div>
                    <input class="mt-2 rounded-md mb-2 pl-2 pr-4 py-1 outline-none border border-2 border-zinc-500 w-[210px]" type="text" name="email" id="email" placeholder="email for verification code" required>
                    <button class="rounded-md mb-2 px-3 py-1 outline-none border text-[15] border-1 bg-zinc-900 text-white-700 border-zinc-900 hover:bg-white hover:text-zinc-900" id='btn' type="submit">Get Code</button>
                    <% if(success_msg && success_msg.length > 0)  { %>
                        <% success_msg.forEach((success) => { %>
                           <p class="text-xs rounded-md text-zinc-900 bg-green-300 mb-2 p-1"> <%= success %> </p> 
                           <%  }); %>
                        <% } %>  
                     <% if(otp_error_msg && otp_error_msg.length > 0)  { %>
                         <% otp_error_msg.forEach((error) => { %>
                            <p class="text-xs rounded-md text-zinc-900 bg-red-300 mb-2 p-1"> <%= error %> </p> 
                              <%  }); %>
                        <% } %>  
                </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="flex justify-center items-center my-2 h-[32px]">
            <div class="pr-22">
                SayMyName® - 2025    
            </div>
        </div>      
    </footer>

    <!-- <script>
        const btntogenerateOtp =  document.getElementById("btn");
        let transporter = nodemailer.createTransport({
                host : "smtp-mail.outlook.com",
                auth: {
                        user: process.env.AUTH_EMAIL,
                        pass: process.env.AUTH_PASSWORD,
                        }
}               )

        btntogenerateOtp.addEventListener("click", function (e) {
            let userEmail = document.getElementById("email").value;
            let otp = Math.floor(`${1000 + Math.random() * 9000}`);
            const mailOptions = {
                from : process.env.AUTH_EMAIL,
                to : userEmail,
                subject : "Verify Your Email ✔",
                html : `<p> Enter the <b>${otp}</b> in the SayMyName Web App to verify your email and sign Up Successfully</p>
                <p>This otp Code expire in 1 hour </p>`
                } 
            
        });
        
    </script> -->
</body>
</html>