<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="h-dvh w-screen bg-zinc-900 p-10 text-white">
        <h2 class="mb-5 text-2xl">Upload Profile Picture</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
        <input class="px-3 py-2 mr-4 rounded-md bg-zinc-700" type="file" name="imagepfp">
        <input class="bg-blue-700 p-2 rounded-md" type="submit" value="Upload">
    </form>
    </div>
</body>
</html>